@media (max-width: 529px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .f-direction-sm-column {
    flex-direction: column;
  }

  .discount + img {
    margin-top: 15px;
  }

  .header {
    flex-wrap: wrap;
    width: 88.88vw;
    height: 71px;
    padding: 16.89px 0 17.24px;
  }

  .banner > img {
    width: 596.25px;
    height: 213.25px;
  }

  .to-cart > img {
    width: 20px;
    height: 20px;
  }

  .discount img {
    width: 11.47px;
    height: 12.29px;
  }

  .header > img:nth-of-type(1) {
    width: 25px;
    height: 18.31px;
  }

  .search {
    box-sizing: border-box;
    width: 100vw;
    padding-left: 56px;
  }

  .position-search-icon {
    left: 22px;
  }

  .fs-sm-7 {
    font-size: 7px;
  }

  .fs-sm-11 {
    font-size: 11px;
  }

  .fs-sm-12 {
    font-size: 12px;
  }

  .fs-sm-14 {
    font-size: 14px;
  }

  .fs-42 {
    font-size: 28px;
  }

  .fs-40 {
    font-size: 25px;
  }

  .lh-sm-136percent {
    line-height: 136%;
  }

  .text-sm-center {
    text-align: center;
  }

  .filters .fs-22 {
    font-size: 16px;
  }

  .banner .fs-18 {
    font-size: 15px;
  }

  .lh-sm-147percent {
    line-height: 147%;
  }

  .banner {
    flex-direction: column;
    height: 524px;
    padding: 66px 0 243px;
    background: right -57px bottom 0 / 145% url("./images/dispenser-delabie-129.png") no-repeat, linear-gradient(91.79deg, #1dbcd1 16.94%, #3ddcf1 83.14%);
  }

  .position-img {
    top: 417px;
    left: -127px;
  }

  .w-579 {
    width: 340px;
  }

  .w-15percent {
    width: 36.47vw;
  }

  .w-79percent {
    width: 372px;
  }

  .grid-4 {
    grid-template-rows: 86px repeat(4, 1fr) 106px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 89.855vw;
    background-color: $bg-catalog;
  }

  .filters {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 89.855vw;
    height: 86px;
    padding: 33px 18.16px 33px 14px;
    letter-spacing: 0.02em;
  }

  .grid-4 .card > img {
    width: 121px;
    height: 147px;
  }

  .grid-4 .card-2 > img {
    width: 152px;
    height: 143px;
  }

  .card {
    width: 42.75vw;
    height: 281px;
    padding-left: 14px;
  }

  .to-cart {
    width: 43px;
    height: 43px;
  }

  .h-82 {
    height: 43px;
  }

  .discount {
    width: 80px;
    height: 29px;
  }

  .discount .fs-15 {
    font-size: 12.2917px;
  }

  .strikethrough-line {
    width: 47.72px;
  }

  .footer {
    flex-direction: column;
    box-sizing: border-box;
    width: 375px;
    padding: 47px 0 54px;
  }

  .about-site-developer {
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 374px;
    padding: 60px 0 46px;
  }

  .mt-sm-minus47px {
    margin-top: -47px;
  }

  .mt-sm-minus38px {
    margin-top: -38px;
  }

  .mt-sm-minus24px {
    margin-top: -24px;
  }

  .mt-sm-minus15px {
    margin-top: -15px;
  }

  .mt-sm-minus4px {
    margin-top: -4px;
  }

  .mt-sm-0 {
    margin-top: 0;
  }

  .mt-sm-2 {
    margin-top: 2px;
  }

  .mt-sm-5 {
    margin-top: 5px;
  }

  .mt-sm-7 {
    margin-top: 7px;
  }

  .mt-sm-8 {
    margin-top: 8px;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mt-sm-11 {
    margin-top: 11px;
  }

  .mt-sm-12 {
    margin-top: 12px;
  }

  .mt-sm-13 {
    margin-top: 13px;
  }

  .mt-sm-16 {
    margin-top: 16px;
  }

  .mt-sm-22 {
    margin-top: 22px;
  }

  .mt-sm-24 {
    margin-top: 24px;
  }

  .mt-sm-30 {
    margin-top: 30px;
  }

  .mt-sm-31 {
    margin-top: 31px;
  }

  .mt-sm-35 {
    margin-top: 35px;
  }

  .mt-sm-43 {
    margin-top: 43px;
  }

  .mt-sm-59 {
    margin-top: 59px;
  }

  .mt-sm-61 {
    margin-top: 61px;
  }

  .mt-sm-70 {
    margin-top: 70px;
  }

  .mr-sm-minus3px {
    margin-right: -3px;
  }

  .mb-sm-11 {
    margin-bottom: 11px;
  }

  .ml-sm-minus47px {
    margin-left: -47px;
  }

  .ml-sm-minus23px {
    margin-left: -5.5555vw;
  }

  .ml-sm-minus6px {
    margin-left: -6px;
  }

  .ml-sm-minus5px {
    margin-left: -5px;
  }

  .ml-sm-minus2px {
    margin-left: -2px;
  }

  .ml-sm-0 {
    margin-left: 0;
  }

  .ml-sm-3 {
    margin-left: 3px;
  }

  .ml-sm-4 {
    margin-left: 4px;
  }

  .ml-sm-9 {
    margin-left: 9px;
  }

  .ml-sm-15 {
    margin-left: 15px;
  }

  .ml-sm-18 {
    margin-left: 18px;
  }

  .ml-sm-24 {
    margin-left: 24px;
  }

  .ml-sm-33 {
    margin-left: 33px;
  }
}

@media (max-width: 400px) {
  .fs-lg-12 {
    font-size: 10px;
  }

  .fs-lg-14,
  .fs-xs-13 {
    font-size: 13px;
  }

  .fs-40 {
    font-size: 20px;
  }

  .fs-42 {
    font-size: 24px;
  }

  .text-xs-center {
    text-align: center;
  }

  .w-79percent,
  .w-579 {
    box-sizing: border-box;
    width: 100vw;
  }

  .grid-4 .card-2 > img {
    width: 140px;
    height: 131.71px;
  }

  .strikethrough-line {
    width: 38px;
  }

  .footer {
    width: 100vw;
    padding: 47px 0 54px 20px;
  }

  .about-site-developer {
    width: 100vw;
    padding: 60px 0 46px 20px;
  }

  .top-50percent.active {
    top: 78%;
  }

  .top-130percent.active {
    top: 203%;
  }

  .pl-xs-20 {
    padding-left: 20px;
  }

  .ml-sm-minus47px {
    margin-left: -40px;
  }

  .to-apply {
    width: 165px;
  }
}

@media (max-width: 349.6px) {
  .header {
    padding-bottom: 25px;
  }

  .mt-xxs-12 {
    margin-top: 12px;
  }
}

@media (max-width: 325.6px) {
  .f-direction-xxxs-column {
    flex-direction: column;
  }

  .mt-xxxs-0 {
    margin-top: 0;
  }

  .mt-xxxs-12 {
    margin-top: 12px;
  }

  .ml-xxxs-minus52px {
    margin-left: -52px;
  }
}
