.about-site-developer 
  span Copyright © 2014 - 2020
  span.mt-sm-30 Политика конфиденциальности
  span.mt-sm-30 Обработка персональной информации
  span.mt-sm-61 Разработано
    img.vertical-align-middle.mr-7.ml-17(src="./images/request-design-icon.png", alt="request design icon")
    span.ff-circe-bold.fs-18.text-dark.mr-3 Request
    span.ff-circe-light  Design