.banner 
  .mt-2.mt-sm-minus4px 
    .text-light.fw-600.fs-42.lh-126percent.mb-23.mb-sm-11.text-xs-center Дозаторы и антисептики
    .text-light.fs-18.w-579.lh-156percent.text-sm-center.lh-sm-147percent Устанавливаются в общественных местах для предотвращения распространения вирусов микробов
  button.more-details.mt-6 
    img.mr-36(src="./images/pointer-to-the-right.png", alt="pointer to the right")
    span.fw-500 Подробнее