div 
  img(src="./images/logo.png", alt="logo")
  .mt-50.mt-sm-31  
    img.mr-13(src="./images/handset-icon-black.png", alt="handset icon black")
    span.fs-18 +7 (495) 506-36-50
  .text-secondary.mt-21 Пн-Пт:
    span.ml-8 с 08:00 до 19:00
  .text-secondary.mt-8 Сб-Вс:
    span.ml-8 с 08:00 до 16:00
  .mt-55.mt-sm-43   
    img.mr-10(src="./images/email-icon-black.png", alt="email icon black")
    span.fs-18 office@uconerfo.ru
  .fs-18.mt-54.mt-sm-35 Мы в сети
  .d-flex.align-items-center.mt-21 
    img.mr-7(src="./images/vk-icon.png", alt="vk icon", width="25", height="25")
    span.text-secondary ВКонтакте
    img.mr-8.ml-20(src="./images/instagram-icon.png", alt="instagram icon")
    span.text-secondary Instagram
.d-flex.f-direction-column  
  span.fs-18.mt-8.mt-sm-59 Категории продукции
  a.mt-31.mt-sm-22(href="#") Трубчатые радиаторы
  a.mt-13(href="#") Панельные радиаторы
  a.mt-13(href="#") Полотенцесушители
  a.mt-13(href="#") Вертикальные радиаторы
  a.mt-13(href="#") Дизайн радиаторы
  a.mt-13(href="#") Внутрипольные конвекторы
  a.mt-13(href="#") Конвекторы водяные
  a.mt-13(href="#") Водосберегающая сантехника
  a.mt-13(href="#") Теплый пол
  a.mt-13(href="#") Чугунные дизайн радиаторы
  a.mt-13(href="#") Арматура для радиаторов  
.d-flex.f-direction-column.ml-sm-4   
  span.fs-18.mt-8.mt-sm-43.ml-sm-minus2px Категории продукции
  a.mt-31.mt-sm-22(href="#") Трубчатые радиаторы
  a.mt-13(href="#") Панельные радиаторы
  a.mt-13(href="#") Полотенцесушители
  a.mt-13(href="#") Вертикальные радиаторы
  a.mt-13(href="#") Дизайн радиаторы
  a.mt-13(href="#") Внутрипольные конвекторы
  a.mt-13(href="#") Конвекторы водяные
  a.mt-13(href="#") Водосберегающая сантехника
  a.mt-13(href="#") Теплый пол
  a.mt-13(href="#") Чугунные дизайн радиаторы
  a.mt-13(href="#") Арматура для радиаторов 
.d-flex.f-direction-column  
  span.fs-18.mt-8.mt-sm-43 Информация
  a.mt-31.mt-sm-22(href="#") О компании
  a.mt-13(href="#") Готовые решения
  a.mt-13(href="#") Наша продукция
  a.mt-13(href="#") Цвета
  a.mt-13(href="#") Сертификаты
  a.mt-13(href="#") Доставка и оплата
  a.mt-13(href="#") Контакты