img.ml-sm-minus2px(src="./images/burger.png", alt="burger", id="burger")
img.ml-75.d-sm-none(src="./images/logo.png", alt="logo")
img.d-none.d-sm-block.ml-sm-9(src="./images/logo-mob.png", alt="logo mobile")
img.d-none.d-sm-block.ml-sm-18(src="./images/handset-icon.png", alt="handset icon")
form.position-relative.ml-72.order-md-5.mt-md-16.mx-md-auto.ml-sm-minus23px 
  img.mr-18.position-search-icon(src="./images/search-icon.png", alt="search icon")
  input.search(type="text" placeholder="Поиск  товаров..")
img.ml-64.d-sm-none(src="./images/avto.png", alt="avto icon")
img.ml-31.ml-xl-0.ml-sm-4.mt-xxxs-12(src="./images/user.png", alt="user icon")
.d-flex.position-relative.mr-minus3px.ml-auto.ml-xl-0.mt-xxs-12  
  img.mr-sm-minus3px(src="./images/shopping-basket.png", alt="shopping basket icon")
  .selected-in-cart.d-sm-none 3