.d-flex.align-items-center   
  img.mr-16(src="./images/location-pointer-icon.png", alt="location pointer icon")
  span Екатеринбург
.d-flex.align-items-center.ml-3   
  img.mr-16(src="./images/handset-icon.png", alt="handset icon")
  a.text-dark(href="tel:+74955063650") +7 (495) 506-36-50
.d-flex.align-items-center.ml-5   
  img.mt-minus4px.mr-12(src="./images/email-icon.png", alt="email icon")
  a.mr-3.text-dark(href="mailto:office@uconerfo.ru") office@uconerfo.ru
.d-flex.align-items-center  
  img.mr-16(src="./images/pencil-icon.png", alt="pencil icon")
  a(href="#")  Заявка на расчет
.d-flex.align-items-center.mx-md-auto 
  img.mr-16(src="./images/headphone-icon.png", alt="headphone icon")
  a(href="#")  Контакты