.d-flex.align-items-center   
  img.mr-16(src="./images/location-pointer-icon.png", alt="location pointer icon")
  span Екатеринбург
.d-flex.align-items-center.ml-3   
  img.mr-16(src="./images/handset-icon.png", alt="handset icon")
  span +7 (495) 506-36-50
.d-flex.align-items-center.ml-5   
  img.mt-minus4px.mr-12(src="./images/email-icon.png", alt="email icon")
  span.mr-3 office@uconerfo.ru
.d-flex.align-items-center  
  img.mr-16(src="./images/pencil-icon.png", alt="pencil icon")
  span Заявка на расчет
.d-flex.align-items-center 
  img.mr-16(src="./images/headphone-icon.png", alt="headphone icon")
  span Контакты