.popup-bg-search-mob  
  .popup-search-mob.h-957.top-50percent   
    img(src="./images/logo-mob.png", alt="logo mobile")
    img.close-popup-search-mob(src="./images/cross.png", alt="cross icon", width="18", height="18")
    .d-flex.justify-content-between.align-items-center.mt-89 
      div 
        img.mr-18.vertical-align-middle(src="./images/search-icon.png", alt="search icon")
        span Радиатор 
      img(src="./images/arrow-to-right.png", alt="arrow to right")
    .line.mt-13 
    .fs-14.mt-31.ml-36 Радиатор биметаллический
    .fs-14.mt-32.ml-36 Радиторы отопления
    .fs-14.mt-31.ml-36 Батарея чугунная
    .fs-14.mt-32.ml-36 Батареи отопления