.popup-bg-menu-mob 
  .popup-menu-mob.h-957.top-50percent  
    img(src="./images/logo-mob.png", alt="logo mobile")
    img.close-popup-menu-mob(src="./images/cross.png", alt="cross icon", width="18", height="18")
    .d-flex.justify-content-between.align-items-center.mt-58   
      div
        img.mr-18(src="./images/radiator-icon.png", alt="radiator icon")
        span Отопительное оборудование
      img(src="./images/arrow-to-down.png", alt="arrow to down")
    .mt-26 
      a.fs-14(href="#") Радиаторы отопления
    .mt-24
      a.fs-14(href="#") Конвекторы отопления
    .mt-21
      a.fs-14(href="#") Полотенцесушители
    .mt-24
      a.fs-14(href="#") Арматура для радиаторов и конвектеров
    .line.mt-39 
    .mt-24.d-flex.align-items-center 
      img.mr-20(src="./images/mixer-tap-icon.png", alt="mixer tap icon")
      a(href="#") Комплектация объектов сантехникой
    .line.mt-19  
    .mt-24.d-flex.align-items-center 
      img.mr-20(src="./images/hand-sanitizer.png", alt="hand sanitizer")
      a.lh-150percent(href="#") Дозаторы антисептика и стойки для диспенсера 
    .line.mt-19 
    .mt-24.d-flex.align-items-center 
      img.mr-20(src="./images/shower.png", alt="shower")
      a(href="#") Водосберегающая сантехника 
    .line.mt-21 
    .mt-41 
    a.fs-14(href="#") Наше производство 
    .mt-28
     a.fs-14(href="#") Готовые решения 
    .mt-28
      a.fs-14(href="#") О компании
    .mt-28
      a.fs-14(href="#") Доставка и оплата
    .mt-28
      a.fs-14(href="#") Сертификаты
    .mt-28 
      a.fs-14(href="#") Новости   